<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Relay Controls" icon-off="ion-bluetooth" icon-on="ion-bluetooth" href="#/tab/toggle">
    <ion-nav-view name="toggle"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab Change this to time disable section, need to follow down the line-->
  <ion-tab title="Bluetooth Override" icon-off="ion-android-time" icon-on="ion-android-time" href="#/tab/override">
    <ion-nav-view name="override"></ion-nav-view>
  </ion-tab>

</ion-tabs>
